
@font-face {
  font-family: 'GT Cinetype Trial';
  src: url('./FiraMono.woff');
  font-display: swap;
}

@font-face {
  font-family: 'Northwell';
  src: url('./GoodVibesPro.woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Linotype Didot Std';
  src: url('./TeXGyreSchola-Regular.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Northwell number';
  src: url('./Northwell.otf');
  font-display: swap;
}









@font-face {
  font-family: 'Stolzl';
  src: url('./Stolzl.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-Regular.woff2');
  font-display: swap;
}









// @font-face {
//   font-family: 'NorthwellAdineKirnberg';
//   src: url('./AdineKirnberg.woff');
//   font-display: swap;
//   font-weight: 400;
// }