@import '../Styles/index.scss';


.header {
    @extend %container-content;

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
           color: $сFFFFFF;
        margin-bottom: 10px;
        gap: 10px;

        @media (max-width: 910px) {
            flex-direction: column;
        }
    }

    &__logo-wrap {
        display: flex;
        align-items: center;
        gap: 10px;

    }

    &__name {
        @extend %font-48;
        font-family: 'Northwell';
        transform: rotate(-10deg);
        span:first-letter { color: $cC58A46;}
       
        
    }

    &__letter:first-letter { color: $cC58A46;}
    &__letter{
        color: $cC58A46;
      }
    &__logo {
        max-height: 70px;
        max-width: 40px;
    }

    &__menu-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;

        li {
            @extend %font-16;
            font-size: 18px;
            position: relative;

            @media (max-width: 820px) {}

            @media (max-width: 390px) {
                font-size: 17px;
            }

            @media (max-width: 370px) {
                font-size: 16px;
            }

            @media (max-width: 370px) {
                font-size: 15px;
            }

            @media (max-width: 370px) {
                font-size: 14px;
            }

            &:after {
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%); //из центра в стороны
                // left: 0;
                /*изменить на right:0;, чтобы изменить направление подчёркивания */
                width: 0;
                /*задаём длинну линии до наведения курсора*/
                height: 2px;
                /*задаём ширину линии*/
                background-color: $cC58A46;
                ;
                /*задаём цвет линии*/
                content: "";
                transition: width 0.3s ease-out;
                /*задаём время анимации*/
            }

            &:hover:after,
            &:focus:after {
                width: 100%;
                /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
            }
        }
    }

    &__menu-one {
        display: flex;
        gap: 10px;
    }

    &__menu-two {
        display: flex;
        gap: 10px;
    }

    &__search-wrap {
        @media (max-width: 910px) {
            width: 70%;
        }
    }

    &__search {
        display: flex;
        gap: 5px;
    }

    &__searchText {
        @extend %font-14;
        color: $сFFFFFF;
        border: 1px solid $сFFFFFF;
        padding:0PX 3px;
        @media (max-width: 910px) {
            width: 100%;
        }
    }

    &__searchBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 25px;
    }

    &__magnifying {
        stroke: $сFFFFFF;
    }
}

.active {
    // color: $с50735F;
    color: $cC58A46;
}

// .searchBtn > .header__magnifying {font-size: 30px;}
// .header__search:hover > .header__searchText {
//     width: 200px;  
//      border-width:1px;  
//     border-style:solid; border-color:  $с50735F ;
// }

