@import '../../Components/Styles/index.scss';



.shop {
    @extend %container-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    // @media (max-width: 910px) {
    //     flex-direction: column;
    // }

    &__wrap-header {
        background: $с50735F;
         @media (max-width: 910px) {
        width: 100%;
    }
    }
}
