
@import './Components/Assets/Fonts/';
@import './Components/Styles/';


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $cC58A46;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:$cC58A46;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $cC58A46;
}

.app {
  @extend %container-main;
  background: $cF4F3F0;
  
}

body {
  margin: 0;
  font-family: 'GT Cinetype Trial',sans-serif;
  color: $с50735F;
  
  
  // $cF4F3F0: #F4F3F0;;
  // ba
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
